<nav>
	<ul ref:nav>
		<li><a class={ uri === "/" && "selected" } href="/">home</a></li>
		<li><a class={ uri === "/about" && "selected" } href="/about">about</a></li>
	</ul>
</nav>

<script>
	export default {
		data() {
			return {
				uri: location.pathname
			};
		},

		oncreate() {
			this.refs.nav.addEventListener('click', e => {
				let uri = e.target.closest('a').getAttribute('href');
				this.set({ uri });
			})
		}
	}
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(170,30,30,0.1);
		font-weight: 300;
		padding: 0 1em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}
	li {
		display: block;
		float: left;
	}
	.selected {
		position: relative;
		display: inline-block;
	}
	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(170,30,30);
		display: block;
		bottom: -1px;
	}
	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>
