* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	color: #333;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}
