.app {

}

.wrapper {
	width: 75%;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
	z-index: 1;
}

.section {
	padding-bottom: 64px;
}

.section h2 {
	margin-bottom: 16px;
}

@media screen and (max-width: 769px) {
	.wrapper {
		width: 90%;
	}
}
